<%- include('./partials/lsheader') %>
<%- include('./partials/header') %>

<section class="" style="margin-top: 150px;">
    <div class="container">
      <div class="container text-center">
        <div class="row row-cols-2">
          
          <div class="col-12 col-md-12">
            <h4>Product Details</h4>
            <span><a href="/account" class="text-decoration-none text-dark">> Back to Order History</a></span>
         
              <div class="card mb-4">
                <div class="card-body">
                  <div class="table-responsive mt-4">
                    <table class="table">
                      <thead>
                        <tr>
                            <tr>
                                <th>Image</th>
                                <th>Product Name</th>
                                <th>Category</th>
                                <th>Unit Price</th>
                                <th>Quantity</th>
                            </tr>
                        </tr>
                      </thead>
                      <tbody>
                        
                        <% orderItems.forEach(function(item) { %>
                            <tr>
                              <td><img src="/images/<%= item.image %>" style="width: 100px; height: 100px;"></td>
                              <td><%= item.productName %></td>
                              <td><%= item.category %></td>
                              <td><%= item.unitPrice %></td>
                              <td><%= item.quantity %></td>
                            </tr>
                          <% }); %>
                       
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
         
          </div>
        </div>
      </div>
    </div>
  </section>